<?xml version="1.0" encoding="utf-8" ?>
{% load adminmedia i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{% trans 'Mediafiles' %}{% block title %}{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="Robots" content="noindex,nofollow" />

    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/base.css" />
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
    <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{{ media_prefix }}css/screen.css" media="screen,projection,tv" />
    {% block extra_style %}{% endblock %}
    {% block extra_head %}{% endblock %}
</head>

<body>

    <div id="header">{% block header %}
        <div id="branding">
            <h1 id="site-name"><a href="{% url mediafiles_explorer "" %}">{% trans 'Mediafiles' %}</a></h1>
        </div>
    {% endblock %}</div>

    <div class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
    <div id="content" class="flex">{% block page_content %}{% endblock %}</div>

    <p id="footer">{% block footer %}
        <a href="http://code.google.com/p/django-mediafiles/" onclick="this.target='_blank'">django-mediafiles</a> {{ version }}
    {% endblock %}</p>

</body>

</html>
