{% extends 'mediafiles/base.html' %}
{% load humanize i18n mediafiles_tags %}

{% block title %}{% blocktrans with path.path as path %} at {{ path }}{% endblocktrans %}{% endblock %}
{% block extra_style %}{% if path.is_file %}
    <link rel="stylesheet" type="text/css" href="{% url mediafiles_pygments_css %}" media="all" />
{% endif %}{% endblock %}

{% block breadcrumbs %}{% if path.is_root and not form %}
    {% trans 'Home' %}
{% else %}{% if path.is_root %}
    <a href="{% url mediafiles_explorer "" %}">{% trans 'Home' %}</a>
{% else %}
    <a href="{% url mediafiles_explorer "" %}">{% trans 'Home' %}</a> &rsaquo;
    {% for p in path.parts|slice:"1:" %}{% if not forloop.last %}
        <a href="{{ p.get_absolute_url }}">{{ p.name }}</a> &rsaquo;
    {% else %}{% if form %}
        <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
    {% else %}
        {{ p.name }}
    {% endif %}{% endif %}{% endfor %}
{% endif %}{% endif %}{% endblock breadcrumbs %}

{% block page_content %}
<h1>{% if path.is_dir %}{% trans 'Directory' %}{% else %}{% trans 'File' %}{% endif %} {{ path.path }}</h1>

<div id="content-main">

    {% if path.is_file %}{% get_file_content path as content,content_editable %}
    <ul class="object-tools">
        <li><a href="{{ path.get_direct_url }}" class="golink" onclick="this.target = '_blank'">{% trans 'Go to' %}</a></li>
        {% if content_editable %}<li><a href="{% url mediafiles_edit path.urlpath %}" class="changelink">{% trans 'Edit' %}</a></li>{% endif %}
        <li><a href="{% url mediafiles_rename path.urlpath %}" class="changelink">{% trans 'Rename' %}</a></li>
        <li><a href="{% url mediafiles_remove path.urlpath %}" class="deletelink">{% trans 'Remove' %}</a></li>
    </ul>

    <div id="content-main">
        <div class="module aligned">
            <h2>{% trans 'File information' %}</h2>

            <div class="form-row">
                <div>
                    <label>{% trans 'Content-Type:' %}</label>
                    <div class="fakeinput">{{ path.content_type }}</div>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <label>{% trans 'Last modified at:' %}</label>
                    <div class="fakeinput">{% blocktrans with path.mtime|naturalday as date and path.mtime|time as time %}{{ date }}, {{ time }}{% endblocktrans %}</div>
                </div>
            </div>

            <div class="form-row">
                <div>
                    <label>{% trans 'Size:' %}</label>
                    <div class="fakeinput">{{ path.size|filesizeformat }}</div>
                </div>
            </div>
        </div>

        {% if content %}<div class="module aligned">
            <h2>{% trans 'File content' %}</h2>
            <div class="form-row">{{ content }}</div>
        </div>{% endif %}
        <div class="submit-row">{% if content_editable %}
            <input type="button" value="{% trans 'Edit file' %}" class="default"
                   onclick="location.href = '{% url mediafiles_edit path.urlpath %}'" />
        {% endif %}
            <input type="button" value="{% trans 'Download file' %}"{% if not content_editable %} class="default"{% endif %}
                   onclick="location.href = '{{ path.get_direct_url }}'" />
        </div>
    </div>
    {% else %}{% if path.is_writeable %}
    <ul class="object-tools">
        <li><a href="{% url mediafiles_mkdir path.urlpath %}" class="addlink">{% trans 'Mkdir' %}</a></li>
        <li><a href="{% url mediafiles_mkfile path.urlpath %}" class="addlink">{% trans 'Mkfile' %}</a></li>
        <li><a href="{% url mediafiles_upload path.urlpath %}" class="addlink">{% trans 'Upload' %}</a></li>
        {% if not path.is_root %}<li><a href="{% url mediafiles_remove path.urlpath %}" class="deletelink">{% trans 'Remove' %}</a></li>{% endif %}
    </ul>{% endif %}

    <table id="explorer">
        <tr>
            <th class="icon"></th>
            <th>{% trans 'Path' %}</th>
            <th>{% trans 'Size' %}</th>
            <th colspan="6">{% trans 'Actions' %}</th>
        </tr>
        {% if not path.is_root %}
        <tr class="row2 row-back" title="{% trans 'Back to parent directory' %}"
            onclick="location.href='{{ path.get_parent_url }}'"
            onmouseover="this.className=this.className.replace('row2', 'alt')"
            onmouseout="this.className=this.className.replace('alt', 'row2')">
            <td class="back"></td>
            <td class="path"><a href="{{ path.get_parent_url }}">..</a></td>
            <td colspan="7"></td>
        </tr>{% endif %}
        {% for f in path.childs %}
        <tr class="row{% cycle 1 2 %}" onmouseover="this.className='alt'" onmouseout="this.className='row{% cycle 1 2 %}'">
            <td class="{{ f.get_icon_class }}"></td>
            <td class="{% if f.is_dir %}path{% endif %} pointer" onclick="location.href='{{ f.get_absolute_url }}'" title="{% if f.is_dir %}{% trans 'Open directory page' %}{% else %}{% trans 'Open file page' %}{% endif %}">
                <a href="{{ f.get_absolute_url }}">{{ f.name }}{% if f.is_dir %}/{% endif %}</a>
            </td>
            <td>{{ f.size|filesizeformat }}</td>
            <td class="show">{% if f.is_readable %}<a href="{{ f.get_direct_url }}" onclick="this.target='_blank'">{% else %}<span class="disabled">{% endif %}{% trans 'Go to' %}{% if f.is_readable %}</a>{% else %}</span>{% endif %}</td>
            <td class="rename"><a href="{% url mediafiles_rename f.urlpath %}">{% trans 'Rename' %}</a></td>
            <td class="copy"><span class="disabled">{% trans 'Copy to' %}</span></td>
            <td class="move"><span class="disabled">{% trans 'Move to' %}</span></td>
            <td class="properties"><span class="disabled">{% trans 'Properties' %}</span></td>
            <td class="delete"><a href="{% url mediafiles_remove f.urlpath %}">{% trans 'Remove' %}</a></td>
        </tr>{% endfor %}
    </table>{% endif %}

</div>
{% endblock page_content %}