{% extends 'mediafiles/base.html' %}
{% load i18n %}

{% block title %}{% blocktrans with path.safe_path as path %} at {{ path }}{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}{% if path.is_root %}
    {% trans 'Home' %}
{% else %}
    <a href="{% url mediafiles_explorer "" %}">{% trans 'Home' %}</a> &rsaquo;
    {% for p in path.parts %}
    {% if not forloop.last %}<a href="{{ p.get_absolute_url }}">{{ p.url|cut:"/" }}</a> &rsaquo; {% else %}{{ p.url|cut:"/" }}{% endif %}
    {% endfor %}
{% endif %}{% endblock %}
{% block page_content %}
<h1>{% if path.is_dir %}{% trans 'Directory' %}{% else %}{% trans 'File' %}{% endif %} {{ path.safe_path }}</h1>

<div id="content-main">

    {% if path.is_file %}
    {% else %}
    <ul class="object-tools">
        <li><a href="{{ path.get_mkdir_url }}" class="addlink">{% trans 'Mkdir' %}</a></li>
        <li><a href="{{ path.get_properties_url }}" class="changelink">{% trans 'Properties' %}</a></li>
        {% if not path.is_root %}<li><a href="{{ path.get_remove_url }}" class="deletelink">{% trans 'Delete' %}</a></li>{% endif %}
    </ul>

    <table id="explorer">
        <tr>
            <th class="icon"></th>
            <th>{% trans 'Path' %}</th>
            <th>{% trans 'Size' %}</th>
            <th colspan="5">{% trans 'Actions' %}</th>
        </tr>
        {% if not path.is_root %}
        <tr class="row2 row-back" title="{% trans 'Back to parent directory' %}"
            onclick="location.href='{{ path.get_parent_url }}'"
            onmouseover="this.className=this.className.replace('row2', 'alt')"
            onmouseout="this.className=this.className.replace('alt', 'row2')">
            <td class="back"></td>
            <td class="path"><a href="{{ path.get_parent_url }}">..</a></td>
            <td colspan="6"></td>
        </tr>{% endif %}
        {% for f in path.list_dir %}
        <tr class="row{% cycle 1 2 %}" onmouseover="this.className='alt'" onmouseout="this.className='row{% cycle 1 2 %}'">
            <td class="{{ f.get_icon_class }}"></td>
            {% if f.is_dir %}<td class="path path-directory" onclick="location.href='{{ f.get_absolute_url }}'">
                <a href="{{ f.get_absolute_url }}">{{ f.url }}</a>
            </td>{% else %}
            <td class="path">{{ f.url }}</td>{% endif %}
            <td>{{ f.size|filesizeformat }}</td>
            <td class="show"><a href="{{ MEDIA_URL }}{{ f.media_url }}" onclick="this.target='_blank'">Show</a></td>
            <td class="rename">Rename</td>
            <td class="chmod">Chmod</td>
            <td class="chown">Chown</td>
            <td class="delete">Delete</td>
        </tr>{% endfor %}
    </table>{% endif %}

</div>
{% endblock %}