@charset 'utf-8';

body, table, td, th {
    font-family: 'Lucida Sans Unicode', 'Tahoma', 'Verdana', 'Arial', sans-serif;
}

table {
    width: 100%;
}

th {
    background-color: #c3d7e2;
    padding-top: 3pt;
    padding-bottom: 3pt;
    color: #2b4e5f;
}

#explorer {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-collapse: collapse;
}

#explorer .disabled {
    color: #ccc;
}

#explorer .icon {
    width: 2%;
    min-width: 16px;
}

#explorer .path {
    width: 60%;
}

#explorer .path-directory, #explorer .row-back {
    cursor: pointer;
}

#explorer .path-directory {
    font-weight: bold;
}

#footer {
    margin: 0 !important;
    font-size: 0.9em;
}

.form-row input[type="text"] {
    width: 60%;
}

.form-row label {
    width: 15%;
}

.form-row .help {
    margin-left: 15%;
    padding-left: 0 !important;
}

.object-tools a.deletelink {
    padding-right: 28px;
    background: #999 url('../img/tooltag-remove.png') top right no-repeat;
}

.object-tools a.deletelink:hover {
    background: #5b80b2 url('../img/tooltag-remove_over.png') top right no-repeat;
}
